.my-custom-tooltip {
    background-color: #B3E650;  // Use your own styles here
    color: #001A49;
    border-radius: 5px;
    /* Other styles as needed... */
}
.title {
text-align: center;
margin-bottom: 8px;
}